/*인게임 배치 구조*/
body{
    overflow-x:hidden;
    overflow-y:hidden;
    margin: 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -user-drag: none;
}

#canvasDiv{
    z-index: 1;
    width: 1280px;
    height: 720px;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

/*이미지 위치 조정*/
#leftImgDiv{
    z-index: 2;
    width: 370px;
    top: 50px;
    left: 60px;
    position: absolute;
    text-align: center;
}

#centerImgDiv{
    z-index: 2;
    width: 370px;
    top: 50px;
    left: 455px;
    position: absolute;
    text-align: center;
}

#rightImgDiv{
    z-index: 2;
    width: 370px;
    top: 50px;
    right: 60px;
    position: absolute;
    text-align: center;
}

#backgroundImg{
    width: 1280px;
    height: 720px;
}

/*이미지 크기 조정*/
#centerImg, #leftImg, #rightImg{
    width: 370px;
}

#nameBox{
    width: 200px;
    height: 36px;
    top: 530px;
    left: 74px;
    font-size: 20px;
    text-align: center;
    vertical-align: bottom;

    position: absolute;
    z-index: 4;
    background-color: rgb(60, 60, 60);
    color: #fff;
    text-shadow: 2px 2px 2px black;
    /*border-color: rgb(255, 224, 233); 
    border-style: solid;*/
    border-radius: 10px;
    font-family: 'Do Hyeon', sans-serif;
    padding-top: 5px;
}

#chatBox{
    width: 1280px;
    height: 176px;
    top: 544px;
    left: 0px;

    position: absolute;
    z-index: 3;
    background-color: gray;
    color: #fff;
    font-size: 24px;
    padding-top: 36px;
    padding-left: 80px;
    text-shadow: 2px 2px 2px black;
    /*border-radius: 2em;
    border-color: rgb(255, 224, 233);
    border-style: solid;*/
    /*margin: 10.8px;*/
}

button{
    visibility: hidden;
}

label{
    color: gray;
}

label:hover{
    color: #49c0ec;
}

#text1, #text2{
    display: inline-block;
}

.standard{
    opacity: 0;
}
.show{
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 1 !important;
}
.showImmediately{
    -webkit-transition: all 0s;
    transition: all 0s;
    opacity: 1;
}
.hide{
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
}
.hideImmediately{
    -webkit-transition: all 0s;
    transition: all 0s;
    opacity: 1;
}

.endScreen{
    font-size: 36px;
    text-align: center;
}