/*시작화면 배치 구조*/
body{
    overflow-x:hidden;
    overflow-y:hidden;
    margin: 0;
}

#canvasDiv{
    z-index: 1;
    width: 1280px;
    height: 720px;
    position: relative;
    background-color: #000;
}

#startBtn{
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 256px;
    height: 36px;
    border-radius: 0px;
    right: 512px;
    top: 432px;
    background-color: red;
    border: 0;
    color: #ffffff;
    font-size: 25px;
}

#exitBtn{
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 256px;
    height: 36px;
    border-radius: 0px;
    right: 512px;
    top: 504px;
    background-color: blue;
    border: 0;
    color: #ffffff;
    font-size: 25px;
}